@import 'variables';

.tags {
  margin-bottom: 3rem;

  &__header {
    margin: 0 0 1rem;
    font: 600 1.125rem/1.687rem $poppins;
    color: $black;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    font: 600 0.75rem/1.125rem $poppins;
    background: $tags-bg;
    margin: 1rem 1rem 0 0;
    border-radius: 12px;
    padding: 0.25rem 0.625rem;
    color: $black;
  }
}
