@import 'variables';

.info__details {
  display: flex;
  width: 100%;
  height: 7rem;
  @include elipsis;

  ul {
    @include flex-column;
    gap: 0.75rem 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: wrap;
    height: 100%;
  }

  span {
    vertical-align: middle;
  }

  &Item {
    display: flex;
    width: 100%;

    span:first-child {
      display: inline-block;
      min-width: 5.5rem;
      margin-right: 1rem;
      @include elipsis;
      font: 0.875rem/1.187rem $open-sans;
      color: $product-page-detail;
    }

    span:last-child {
      display: inline-block;
      font: 0.875rem/1.187rem $open-sans;
      color: $black;
      @include elipsis;
    }
  }
}

@media (max-width: 1170px) {
  .info__details {
    ul {
      gap: 0.75rem 2rem;
    }
  }
}
@media (max-width: 1010px) {
  .info__details {
    height: 9rem;

    ul {
      li {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 890px) {
  .info__detailsItem {
    flex-direction: column;
  }
}
@media (max-width: 840px) {
  .info__details {
    height: 12rem;
  }
}
