@import 'variables';

.header {
  height: 4rem;
  padding: 0.5rem 2.81rem;
  @include flex-centerY;
  justify-content: space-between;

  h1 {
    font-family: $poppins;
    font-weight: 600;
    line-height: 3rem;
    color: $black;
  }

  &__amount {
    display: flex;
    align-items: center;
  }

  &__number {
    @include flex-center;
    margin-right: 0.25rem;
    background: $products-counter-bg;
    border-radius: 12px;
    padding: 0 0.5rem;
    width: 2rem;
    height: 1.125rem;
    color: $green;
    font: 600 0.75rem/1.125rem $poppins;
  }

  &__name {
    font: 0.75rem/1rem $open-sans;
    color: $header-amount-heading;
  }
}
