@import 'variables';

.header {
  height: 4rem;
  padding: 0.5rem 2.81rem;
  @include flex-centerY;
  justify-content: space-between;

  h1 {
    font: 600 2rem/3rem $poppins;
    color: $black;
  }

  &__amount {
    @include flex-centerY;
  }

  &__number {
    @include flex-center;
    margin-right: 0.25rem;
    background: $products-counter-bg;
    border-radius: 12px;
    padding: 0 0.5rem;
    height: 1.125rem;
    color: $green;
    font: 600 0.75rem/1.125rem $poppins;
  }

  &__name {
    font: 0.75rem/1rem $open-sans;
    color: $header-amount-heading;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 0.5rem 1.5rem;

    h1 {
      font-size: 1.6rem;
    }
  }
}
