@import 'variables.scss';

.main {
  @include flex-column;
  align-items: center;
}

.select {
  border: none;
  background: $bg-grey;
  font: 500 0.95rem $poppins;
  @include flex-centerY;
  color: $black;

  &__header {
    margin-right: 0.2rem;
  }
  &__icon {
    color: $green;
    font-size: 0.6rem;
  }
  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  min-width: 11rem;
  top: 2rem;
  left: 0;
  font: 400 0.95rem $poppins;
  @include flex-column;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: slide-down 300ms ease-out forwards;
  background: $white;
  z-index: 20;

  &__item {
    height: 1.7rem;
    line-height: 1.5rem;
    width: 100%;
    cursor: pointer;
    @include flex-center;

    &:hover {
      background: $green;
      color: $white;
    }

    &:first-child {
      border-bottom: 1px solid $all-categories-border;
    }
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .dropdown__item {
    height: 2.5rem;
  }
}
