@import 'variables';

.price {
  margin-bottom: 2.375rem;
  padding-right: 3.187rem;
  @include flex-column;

  &__header {
    font: 600 1.125rem/1.687rem $poppins;
    margin-bottom: 1.2rem;
    color: $black;
  }

  &__inputs {
    @include flex-centerX;
  }

  &__input {
    @include flex-column;
    max-width: 6.81rem;

    label {
      font: 600 0.75rem/1.125rem $poppins;
      color: $black;
    }

    input {
      width: 100%;
      background: $filters-price-input-bg;
      border: 1px solid $filters-price-input-border;
      border-radius: 12px;
      font: 0.875rem/1.187rem $open-sans;
      color: $filters-price-input-text;
      padding: 0.75rem 1rem 0.75rem 1.312rem;
      cursor: default;

      &:focus {
        outline: none;
      }
    }
  }

  &__dash {
    align-self: center;
    margin: 0 0.875rem;
    padding-top: 1.8rem;
    height: 100%;
    color: $filters-price-dash;
  }

  .slider {
    margin: 0 0 1.2rem 0;

    div:first-child {
      background: $filters-slider-bar;
      height: 6px;
      border-radius: 12px;
    }
    div:nth-child(2) {
      background: $green;
      height: 6px;
    }
    div:nth-child(4),
    div:nth-child(5) {
      width: 20px;
      height: 20px;
      margin-top: -8px;
      border: 1px solid $filters-slider-circle-border;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    &:hover div:nth-child(4),
    &:hover div:nth-child(5) {
      border: 1px solid $filters-slider-circle-border;
    }
  }
}

@media (max-width: 900px) {
  .price {
    padding-right: 2.04rem;
  }
}

@media (max-width: 850px) {
  .price {
    &__input {
      input {
        padding: 0.25rem 0.5rem;
      }
    }

    &__dash {
      margin: 0 0.475rem;
      padding-top: 1.4rem;
    }
  }
}

@media (max-width: 700px) {
  .price {
    &__header {
      font-size: 1.5rem;
    }

    &__input {
      label {
        text-align: center;
        font-size: 0.85rem;
      }
    }

    .slider {
      margin-bottom: 1.5rem;
    }
  }
}
