@import 'variables';

.recomended {
  padding: 4.375rem 5rem;
  @include flex-column;
  align-items: center;
  gap: 2rem 0;
}

.header {
  @include flex-centerY;
  justify-content: space-between;
  width: 100%;

  h3 {
    font: 600 1.125rem/1.687rem $poppins;
    color: $black;
  }

  &__button {
    padding: 0.375rem 0.75rem;
    background: $product-page-recomend-btn-bg;
    border: 2px solid transparent;

    &:active {
      border-color: $green;
      background: $product-page-recomend-btn-bg;
      cursor: pointer;
    }

    &:disabled {
      &:hover {
        border-color: transparent;
      }
      span {
        color: $product-page-recomend-showmore-disabled;
      }
    }

    svg {
      min-width: 1rem;
    }

    span {
      color: $black;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem 4.33%;
  justify-content: flex-start;
}

@media (hover: hover) {
  .header {
    &__button {
      &:hover {
        border-color: $green;
        background: $product-page-recomend-btn-bg;
        cursor: pointer;
      }
    }
  }
}
