@import 'variables';

.main {
  padding: 0 2.656rem;
  display: flex;
  justify-content: center;
  gap: 0 2rem;
}

.ilustrations,
.info {
  width: 50%;
}

.ilustrations {
  @include flex-column;

  &__benefits {
    display: flex;
    justify-content: flex-start;
    gap: 0 0.75rem;
    padding-left: 0.968rem;
    margin-bottom: 0.25rem;
    flex-wrap: wrap;
  }

  &__images {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;

    &Main {
      width: 100%;
      height: 25rem;
    }

    &Secondary {
      max-width: 47.001%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

.info {
  @include flex-column;
  padding-bottom: 1rem;
  gap: 2rem 0;

  &__main {
    @include flex-column;
    gap: 2.5rem;
  }

  &__header {
    @include flex-column;
    gap: 0.5rem;
  }

  &__title {
    font: 600 2rem/3rem $poppins;
    color: $black;
  }

  &__rating {
    @include flex-centerY;
    gap: 0.5rem;

    ul {
      @include flex-centerY;
      gap: 2px;

      li {
        @include flex-centerY;
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    span {
      font: 0.75rem/1rem $open-sans;
      color: $product-page-rating-count;
    }
  }

  &__description {
    font: 1.063rem/1.437rem $open-sans;
    color: $black;
  }

  &__additional {
    height: 17rem;
  }
}

@media (min-width: 1300px) {
  .ilustrations,
  .info {
    width: 40%;
  }
}
@media (min-width: 1500px) {
  .ilustrations,
  .info {
    width: 35%;
  }
}
