@import 'variables';

.footer {
  height: 5rem;
  padding: 1rem 2.81rem;
  @include flex-centerY;
  justify-content: space-between;

  &__pages {
    @include flex-centerY;
    gap: 0.5rem;

    &Header {
      font: 0.75rem/1rem $open-sans;
      color: $products-footer-pages-header;
    }

    &Numbers {
      display: flex;
      gap: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      a {
        font: 0.75rem/1rem $open-sans;
        color: $black;
      }
    }

    &Active {
      color: $green;
    }
  }

  &__stock {
    @include flex-centerY;

    &Number {
      @include flex-center;
      margin-right: 0.25rem;
      background: $products-counter-bg;
      border-radius: 12px;
      padding: 0 0.5rem;
      height: 1.125rem;
      color: $green;
      font: 600 0.75rem/1.125rem $poppins;
    }

    &Name {
      font: 0.75rem/1rem $open-sans;
      color: $header-amount-heading;
    }
  }

  &__break {
    display: none;
    flex-basis: 100%;
    height: 0;
  }
}

@media (max-width: 700px) {
  .footer {
    height: auto;
    padding: 1rem 1.4rem;
  }
}
@media (max-width: 550px) {
  .footer {
    padding: 1rem 1.4rem;
    flex-wrap: wrap;

    &__stock {
      order: 1;
    }

    &__break {
      display: block;
      order: 2;
    }

    &__button {
      order: 3;
      margin: 0.5rem auto 0 auto;
    }
  }
}
