@import 'variables';

.filters {
  width: 27.5%;
  @include flex-column;
}

.categories {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    &Number {
      @include flex-center;
      background: $products-counter-bg;
      border-radius: 12px;
      padding: 0 0.5rem;
      height: 1.125rem;
      color: $green;
      font: 600 0.75rem/1.125rem $poppins;
    }

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(to right, $green, white);
      transform: scale(1.05);

      .categories__itemName {
        color: white;
        font-weight: 600;
        padding-left: 1rem;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

.brands {
  &__item {
    @include flex-centerY;
    margin-bottom: 1rem;

    &Checkbox {
      height: 1.25rem;
      width: 1.25rem;
      margin: 0.125rem 0.625rem 0.125rem 0.125rem;

      &:checked {
        accent-color: $green;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

.rating,
.brands,
.categories {
  @include flex-column;
  margin-bottom: 3rem;
  padding-right: 2.04rem;

  &__list {
    @include flex-column;
  }

  &__header {
    font: 600 1.125rem/1.687rem $poppins;
    margin-bottom: 1rem;
    color: $black;
  }
}

.categories__itemName,
.brands__itemName {
  font: 0.875rem/1.187rem $open-sans;
  color: $black;
}

.price {
  margin-bottom: 2.375rem;
  padding-right: 3.187rem;
  @include flex-column;

  &__header {
    font: 600 1.125rem/1.687rem $poppins;
    margin-bottom: 1.2rem;
    color: $black;
  }

  &__inputs {
    @include flex-centerX;
  }

  &__input {
    @include flex-column;
    max-width: 6.81rem;

    label {
      font: 600 0.75rem/1.125rem $poppins;
      color: $black;
    }

    input {
      width: 100%;
      background: $filters-price-input-bg;
      border: 1px solid $filters-price-input-border;
      border-radius: 12px;
      font: 0.875rem/1.187rem $open-sans;
      color: $filters-price-input-text;
      padding: 0.75rem 1rem 0.75rem 1.312rem;
      cursor: default;

      &:focus {
        outline: none;
      }
    }
  }

  &__dash {
    align-self: center;
    margin: 0 0.875rem;
    padding-top: 1.8rem;
    height: 100%;
    color: $filters-price-dash;
  }

  .slider {
    margin: 0 0 1.2rem 0;

    div:first-child {
      background: $filters-slider-bar;
      height: 6px;
      border-radius: 12px;
    }
    div:nth-child(2) {
      background: $green;
      height: 6px;
    }
    div:nth-child(4),
    div:nth-child(5) {
      width: 20px;
      height: 20px;
      margin-top: -8px;
      border: 1px solid $filters-slider-circle-border;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    &:hover div:nth-child(4),
    &:hover div:nth-child(5) {
      border: 1px solid $filters-slider-circle-border;
    }
  }
}

.actions {
  @include flex-centerX;

  &__reset {
    padding: 0.375rem 0.75rem;
    background: white;
    border: none;
    cursor: pointer;
    font: 700 0.937rem/1.375rem $poppins;
    color: $filters-reset;

    &:hover {
      color: $green;
    }
  }
}

.active {
  background-image: linear-gradient(to right, $green, white);

  .categories__itemName {
    color: white;
    padding-left: 1rem;
  }
}

@media (min-width: 1500px) {
  .filters {
    width: 24%;
  }
}
