@import 'variables';

.filters {
  width: 27.5%;
  border: 1px solid lightblue;
  @include flex-column;
}

.categories__header,
.brands__header,
.rating__header {
  font: 600 1.125rem/1.687rem $poppins;
  margin-bottom: 1rem;
  color: $black;
}

.categories {
  @include flex-column;
  margin-bottom: 3rem;

  &__list {
    @include flex-column;
    padding-right: 2.04rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    &Number {
      @include flex-center;
      background: $products-counter-bg;
      border-radius: 12px;
      padding: 0 0.5rem;
      height: 1.125rem;
      color: $green;
      font: 600 0.75rem/1.125rem $poppins;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.brands,
.rating {
  @include flex-column;
  margin-bottom: 3rem;

  &__list {
    @include flex-column;
  }

  &__item {
    @include flex-centerY;
    margin-bottom: 1rem;

    &Checkbox {
      height: 1.25rem;
      width: 1.25rem;
      margin: 0.125rem 0.625rem 0.125rem 0.125rem;

      &:checked {
        accent-color: $green;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

.categories__itemName,
.brands__itemName {
  font: 0.875rem/1.187rem $open-sans;
  color: $black;
}

.rating__itemStars {
  display: flex;

  li {
    margin-right: 0.28rem;
  }
}
