@import 'variables';

.card {
  border: 1px solid $card-border;
  border-radius: 12px;
  margin-bottom: 2rem;
  display: flex;
  height: 17.5rem;

  &:last-child {
    margin: 0;
  }

  .imgWrapper {
    width: 32.5%;
    height: 100%;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    background: $card-img-bg;
  }

  &__info {
    width: 67.5%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }

  &__infoLeft {
    @include flex-column;
    width: 50%;
  }

  &__infoRight {
    @include flex-column;
  }

  &__header {
    @include flex-column;
    margin-bottom: 0.626rem;
  }

  &__title {
    font: 600 1.125rem/1.687rem $poppins;
    color: $black;
    margin-bottom: 0.25rem;
  }

  &__description {
    font: 0.75rem/1rem $open-sans;
    color: $card-description;
    @include elipsis;
  }

  &__rating {
    display: flex;
    margin-bottom: 1.687rem;
  }

  &__detail {
    margin-bottom: 0.75rem;
    font: 0.875rem/1.187rem $open-sans;
    @include elipsis;
    color: $card-details-grey;

    &Header {
      display: inline-block;
      width: 5rem;
      margin-right: 2rem;
      @include elipsis;
    }

    span {
      vertical-align: middle;
    }

    &:last-child {
      margin: 0;

      span:last-child {
        color: $green;
      }
    }
  }

  &__price {
    margin-bottom: 1rem;
  }

  &__currentPrice {
    font: 600 1.125rem/1.687rem $poppins;
    color: $black;
  }

  &__oldPrice {
    font: 600 0.75rem/1.125rem $poppins;
    text-decoration-line: line-through;
    color: $card-details-grey;
  }

  &__delivery {
    margin-bottom: 1.625rem;
  }

  &__deliveryFree {
    font: 600 0.75rem/1.125rem $poppins;
    color: $card-details-grey;
  }

  &__deliveryTime {
    font: 0.75rem/1rem $open-sans;
    color: $card-details-grey;
  }

  &__actions {
    @include flex-column;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__btnDetail {
    margin-bottom: 0.75rem;
  }

  &__btnAddToWish {
    @include flex-centerY;
    padding: 0.406rem 0.75rem;
    gap: 0.5rem;
    background: $card-btnWish-bg;
    border: 2px solid $card-btnWish-bg;
    border-radius: 12px;

    span {
      color: $black;
    }

    &:hover {
      background: $btn-wish-hover-bg;
      border-color: $btn-wish-hover-border;
      cursor: pointer;
    }
  }

  &__btnDetail,
  &__btnAddToWish {
    span {
      font: 700 0.9375rem/1.375rem $poppins;
    }
  }
}

@media (max-width: 1150px) {
  .card {
    height: 20rem;
  }
}
