@import 'variables';

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  height: 3rem;

  a {
    font: 0.75rem/1rem $open-sans;
    text-decoration: none;
    cursor: pointer;
  }

  &__left,
  &__right {
    @include flex-centerY;
  }

  &__left a {
    margin-right: 2.37rem;
  }
  &__right a {
    margin-left: 2.37rem;
  }

  &__link {
    @include link;
  }

  &__info {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}
