@import 'variables';

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  height: 3rem;

  a {
    font: 0.75rem/1rem $open-sans;
    text-decoration: none;
    cursor: pointer;
  }

  &__left,
  &__right {
    @include flex-centerY;
  }

  &__left a {
    margin-right: 2.37rem;
  }
  &__right a {
    margin-left: 2.37rem;
  }

  &__link {
    @include link;
  }

  &__info {
    color: $black;

    &:hover,
    &:active {
      color: $black;
      text-decoration: underline;
    }
  }
}

@media (max-width: 700px) {
  .info {
    padding: 1rem;

    &__left a {
      margin-right: 1.37rem;
    }

    &__right a {
      margin-left: 1.37rem;
    }
  }
}

@media (max-width: 560px) {
  .info {
    padding: 1rem 1.5rem;

    &__left {
      width: 100%;
      justify-content: space-between;

      a:first-child {
        display: none;
      }

      a {
        margin: 0;
      }
    }

    &__right {
      display: none;
    }
  }
}
