@import 'variables';

.wrapper {
  height: 4.437rem;
  padding: 1rem 3.03rem;
  @include flex-centerY;
  justify-content: flex-start;
}

.sort {
  height: 100%;
  @include flex-centerY;
  gap: 1.5rem;
  padding: 0.562rem 1rem;
  border: 1px solid $sort-border;
  border-radius: 12px;
  background: $sort-bg;
  position: relative;

  &__header {
    font: 0.875rem/1.187rem $open-sans;
    color: $black;
  }

  &__divider {
    border-left: 1px solid $lines-grey;
    height: 1.3rem;
  }

  &__dropdown {
    &:hover {
      cursor: pointer;
    }

    &List {
      position: absolute;
      @include flex-column;
      align-items: center;
      top: 2.4rem;
      left: 0;
      width: 100%;
      background: $sort-list-bg;
      border-radius: 12px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      z-index: 40;
    }

    &Item {
      height: 1.5rem;
      width: 100%;
      text-align: center;
      font: 500 0.75rem/1.5rem $poppins;
      color: $black;
      @include flex-centerX;
      gap: 10%;

      &:hover {
        background: $green;
        color: white;
      }

      &Title {
        width: 40%;
      }

      &IconUp {
        svg {
          padding-top: 8px;
        }
      }

      &IconDown {
        svg {
          padding-bottom: 3px;
        }
      }

      &:last-child {
        border-top: 1px solid $sort-reset-border;
        color: $sort-reset-color;

        &:hover {
          color: $black;
          background: $sort-reset-bg;
        }
      }
    }
  }

  &__select {
    @include flex-centerY;
    gap: 0.25rem;

    &Title {
      font: 600 0.75rem/1.125rem $poppins;
      color: $black;
    }

    &Icon {
      font-size: 0.5rem;
    }

    &OrderIconUp {
      padding-top: 6px;
    }
    &OrderIconDown {
      padding-bottom: 6px;
    }
  }
}
