$green: #6a983c;
$bg-grey: #f9f9f9;
$lines-grey: #d1d1d1;
$lighter-grey: #fdfdfd;
$tags-bg: #f5f5f5;
$cart-items: #e6704b;
$black: #151515;

$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

@mixin link {
  color: $green;
  cursor: pointer;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

@mixin flex-centerY {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin poppins {
  font-family: $poppins;
}
@mixin open-sans {
  font-family: $open-sans;
}
