$green: #6a983c;
$bg-grey: #f9f9f9;
$lines-grey: #d1d1d1;
$lighter-grey: #fdfdfd;
$black: #151515;
$white: white;

$all-categories-border: #ececec;

$breadcrumb-gray: #a9a9a9;
$breadcrumb-current: #151515;

$cart-items: #e6704b;

$header-amount-heading: #a9a9a9;
$products-counter-bg: #f4f8ec;

$card-description: #575757;
$card-details-grey: #a9a9a9;
$card-btnWish-bg: #f5f5f5;
$card-border: #d1d1d1;
$card-img-bg: #a9a9a9;
$btn-main-border: #46760a;
$btn-main-hover-bg: #46760a;
$btn-wish-hover-bg: #e9e9e9;
$btn-wish-hover-border: #e9e9e9;

$filters-slider-bar: #ebebeb;
$filters-slider-circle-border: #d1d1d1;
$filters-price-input-bg: #f9f9f9;
$filters-price-input-border: #d1d1d1;
$filters-price-input-text: #a9a9a9;
$filters-price-dash: #a9a9a9;
$filters-reset: #a9a9a9;

$header-info-divider: #eeeeee;
$search-placeholder: #a9a9a9;

$sort-border: #d1d1d1;
$sort-bg: #f9f9f9;
$sort-list-bg: #f9f9f9;
$sort-reset-border: lightgray;
$sort-reset-color: gray;
$sort-reset-bg: lightgray;

$filters-btn-bg: #f9f9f9;
$filters-btn-border: #d1d1d1;
$filters-btn-icon: gray;

$products-footer-pages-header: #a9a9a9;

$fetch-msg: #c9c9c9;
$spinner: #c9c9c9;

$tags-bg: #f5f5f5;

$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$product-page-rating-count: #a9a9a9;
$product-page-detail: #a9a9a9;
$product-page-actions-border: #f5f5f5;
$product-page-priceBefore: #a9a9a9;
$product-page-dropdown-border: #d1d1d1;
$product-page-dropdown-bg: #f9f9f9;
$product-page-dropdown-count: #d1d1d1;
$product-page-dropdown-divider: #d1d1d1;
$product-page-wish: #ffff;

@mixin link {
  color: $green;
  cursor: pointer;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

@mixin flex-centerY {
  display: flex;
  align-items: center;
}

@mixin flex-centerX {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
