@import 'variables';

.rating__item {
  @include flex-centerY;
  margin-bottom: 1rem;

  &Checkbox {
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    margin: 0.125rem 0.625rem 0.125rem 0.125rem;

    &:checked {
      accent-color: $green;
    }
  }

  &Stars {
    display: flex;

    li {
      margin-right: 0.28rem;
      display: flex;
    }
  }

  &:last-child {
    margin: 0;
  }
}

@media (hover: hover) {
  .rating__item {
    &:hover {
      background-image: linear-gradient(to right, $green, $white);
      border-radius: 4px;
    }

    &Checkbox {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .rating__item {
    height: 2rem;
  }
}
