@import 'variables';

.rating__item {
  @include flex-centerY;
  margin-bottom: 1rem;

  &:hover {
    background-image: linear-gradient(to right, $green, white);
    border-radius: 4px;
  }

  &Checkbox {
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    margin: 0.125rem 0.625rem 0.125rem 0.125rem;

    &:checked {
      accent-color: $green;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &Stars {
    display: flex;

    li {
      margin-right: 0.28rem;
      display: flex;
    }
  }

  &:last-child {
    margin: 0;
  }
}
