@import 'variables';

.contacts__column {
  .contacts__header {
    margin-bottom: 1rem;
    font: 600 1.125rem/1.687rem $poppins;
  }

  .contacts__contact {
    margin-bottom: 1rem;
    font: 0.875rem/1.119rem $open-sans;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
    @include link;
  }
}
