@import 'variables';

.contacts__column {
  a {
    display: block;
  }

  .contacts__header {
    @include poppins;
    margin: 0 0 1rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.687rem;
    cursor: default;
  }

  .contacts__contact {
    margin: 0 0 1rem;
    @include open-sans;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.119;
    @include link;
    text-decoration: none;
  }
}
